// colors

$div: rgba(255, 255, 255, 0.12);
$background: #121212;
$buttons: #fff;
$hover: rgba(134, 19, 19, 0.08);
$title: #fff;
$text: rgb(255, 255, 255);
$textDisabled: rgba(255, 255, 255, 0.5);
$primaryColor: #006778;